/* Html and Body stuff */
html {
background-image: url(Images/zmzsnow.PNG);
}
body {
  background-color: black;
  background-color: rgba(0, 0, 20, 0.5);
  color: yellow;
  font-family: Verdana;
  padding: 10px;
  min-height: 100%;
}
body p, body img {
  margin-left: 10px;
}



/* This is for the marquee header at the top of the site */
header {
  font-family : courier;
  font-size: 18px;
  color: orange;
  background-color: black;
  border-style: ridge;
  border-width: 6px;
  border-color: red;
}

/* This will be for the little sidebar thing on the left */
aside {
  background-color: black;
  width: 10%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}




/* This is for the navigation panel at the top of the site in the header */
nav ul {
  list-style-type: none;
  font-weight : bold;
}
nav ul li {
  text-decoration : none;
  display : inline;
  padding : 12px;  
}




/* This was added to stylize the tables on the gaming page, but it could be ok to let this work everywhere on the site */
th, td{
  border : 3px Ridge Orange;
  background-color : black;
}
aside{
  border : 6px Ridge red;
  background-color : black;
}
td ul li {
  display : inline;
}
/* This is to add square bullets to inline list items within table data */
td ul li:before {
  content: '\ffed';
  margin-right: 0.5em;
}




/* Footer */
footer p {
  color : orange; 
}




/* Link color changing depending on status of link*/
a:link {
  color: green;
}
a:visited {
  color: green;
}
a:hover {
  color: lime;
}
a:active {
  color: white;
}